@import url('./normalize.css');
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";

/* //else reset // */
* {
  box-sizing: border-box;
  /* background-color: rgb(244, 244, 250); */
  /* background-color: red; */
  margin:1%;

}
html {
  margin-top:10px;
}
body{
  background-color: rgb(244, 244, 250);

}
svg.recharts-surface tspan {
	font-size: 10px !important;
	color: black !important;
	font-family:  Arial;
}